<!-- <h1>header works!</h1>

<h2>Your name is = {{name}}</h2>

<input type="text" (input)="handleChange($event)">
<input type="text" [(ngModel)]="name">

<ul>
    @for(user of users;  track user.name){
        <li>Name = {{user.name}}, Age = {{user.age}}, Gender = {{user.gender}}</li>
    }
</ul>
<hr />
<ul *ngFor="let user of users">
        <li *ngIf="user.age > 21; else elseBlcok">Name = {{user.name}}, Age = {{user.age}}, Gender = {{user.gender}}</li>
        <ng-template #elseBlcok>
            <li>Name = {{user.name}}, Age = Age is less than 21, Gender = {{user.gender}}</li>
        </ng-template>
        
</ul>


 -->
<!-- 

 <p>Name = {{userName}}</p>
 <p>Gender = {{status ? "Male" : "Female"}}</p>
 <p>Salary = {{salary | currency:"INR"}}</p>

 <button (click)="sendData()">Send Data</button>
 <hr />

 <p>Phone Number : {{phone | countryCode:"USA"}}</p> -->