.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h5 {
    color: red;
    margin-bottom: 10px;
    margin-left: 5px;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-green {
    background-color: #4caf50;
}

.btn-green:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}