<form class="container" [formGroup]="binForm">
    <h4>Login Form</h4>
    <input type="text" placeholder="Title" [formControl] = "title">
    <h5 class="text-red" [hidden]="title.valid || title.untouched">Title is required</h5>
    <textarea type="text" placeholder="Code" [formControl] = "code" name="" id="" cols="30" rows="8"></textarea>
    <h5 class="text-red" [hidden]="code.valid || code.untouched">Code is required</h5>
    <button class="btn-green" [disabled]="binForm.invalid" (click)="save()">Create</button>
</form>