<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <!-- <app-header name="Haresh Prajapati" status="true" salary="50000" (myEvent)="receivedData($event)"></app-header> -->
  <!-- <app-header name="Manav Patel"></app-header> -->
  <!-- <app-header name="Mohit Chauhan"></app-header> -->

  <!-- <app-jokes></app-jokes> -->

  <!-- <app-counter-component-a></app-counter-component-a>
  <app-counter-component-b></app-counter-component-b> -->

  <app-navbar></app-navbar>
  <router-outlet></router-outlet>

</body>
</html>