<form class="container" #registerForm="ngForm">
    <h4>Register Form</h4>
    <input type="email" name="email" pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$" placeholder="example@gmail.com" required ngModel #email="ngModel">
    <h5 class="text-red" [hidden]="email.valid || email.untouched">Enter correct email</h5>
    <input type="password" name="password" placeholder="123456" required minlength="6" ngModel #password="ngModel">
    <h5 class="text-red" [hidden]="password.valid || password.untouched">Password is required and must be greater then 6 characters</h5>
    <button class="btn-green" [disabled]="registerForm.invalid" (click)="register(registerForm)">Sign Up</button>
    <button class="btn-red" (click)="reset(registerForm)">Reset</button>
</form>